<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AddressesFormatPath" value="config/AddressesFormat.json"/>
        <add key="UsersPath" value="config/users.json"/>
        <add key="JwtSecret" value="JwtSecret"/>
        <add key="JwtDurationInSeconds" value="60"/>
    </appSettings>
</configuration>
